body{
    /*background: url(./img/BG.png);*/
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0;
    box-sizing: border-box;
}
/*Carrousel*/
.slider{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.slides{
    position: relative;
    width: 100%;
    height: 100%;
}
.slide{
    display: none;
    width: 100%;
    height: 100%;
}
.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navigation-manual{
    position: absolute;
    display: flex;
    width: 100px;
    height: 27px;
    top: 93%;
    left: 50%;
    transform: translateX(-50%);
    background: #515151;
    border-radius: 18px;
    align-items: center;
    justify-content: center;
}
.navigation-manual button{
    border-radius: 50%;
    padding: 2px;

}
.manual-btn{
    display: flex;
    border: 0.5px solid #FFFFFF;
    border-radius: 7px;
    background: #FFFFFF;
    width: 6.5px;
    height: 6.5px;
    opacity: 0.25;
    margin-left: 4px;
    margin-right: 4px;
    cursor: pointer;
}
.slide__btn{
    position: absolute;
    width: 43px;
    height: 43px;
    background: #515151;
    opacity: 0.8;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;  
}
.slide__btn--right{
    cursor: pointer;
    right: 25px;
}
.slide__btn--left{
    cursor: pointer;
    left: 25px;
}
.active, .dot:hover {
    background-color: #FFFFFF;
  }

/*icon Game finder*/
.bs-icon{
    position: absolute;
    width: 322px;
    height: 66px;
    left: 39px;
    top: 30px;
}
.bs-icon svg{
    position: absolute;
    left: 4.42%;
    right: 4.42%;
    top: 21.62%;
    bottom: 21.62%;
}
/*toggle botton*/
.togglebox{
    position: absolute;
    right: 100px;
    top: 44.27px;
}
input[type="checkbox"]{
    position: relative;
    width: 90px;
    height: 40px;
    background: #E1E1E4;
    border-radius: 48px;
    -webkit-appearance: none;
    outline: none;
    transition: .2s;
}
input:checked[type="checkbox"]{
   background: #5F81FB; 
}
input[type="checkbox"]::before{
    z-index: 2;
    position: absolute;
    content: "";
    top: 5px;
    left: 10px;
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border-radius: 50%;
    transform: scale(1.1);
    transition: 0.4ms;
}   
input:checked[type="checkbox"]::before{
    left: 50px;
}
.toggle{
    position: relative;
    display: inline;
}
.toggle label{
    position: absolute;
    font-family: 'Exo';
    font-style: normal;
    font-size: 16px;
    font-weight: 800;
}
.onbtn{
    bottom: 15px;
    left: 15px;
    color: #FFFFFF;
}
.offbtn{
    bottom: 15px;
    right: 14px;
    color: #939393;
}

/*login*/
.login_conteiner{
    background: rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    position: absolute;
    width: 462px;
    height: 702px;
    top: 178px;
    right: 100px;
    display: flex;  
    flex-direction: column;
    font-family: 'Exo';
    font-style: normal;
}
.txt1{
    display: flex;
    margin: 40px 50px 8px 50px;  
    width: 362px;
    height: 27px;
    justify-content: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
}
.txt2{
    display: flex;
    margin: 0px 50px 32px 50px;
    justify-content: center;
    width: 362px;
    height: 28px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}
.email, .password{
    display: flex;
    align-items: center;
    font-family: 'Exo';
    font-style: normal;
    font-size: 15px;
    font-weight: 400;
    background: #FFFFFF;
    border-radius: 4px;
    margin: 0px 50px 16px 50px;
    width: 362px;
    height: 47px;
    line-height: 20px;
    
}
.emailinput, .passwordinput{
    border: none;
    background: transparent;
    outline: none;
}
.emailinput{
    width: 330px;
    margin-left: 16px;
}
.passwordinput{
    width: 306px;
    margin-left: 16px;
}

.emailinput, .passwordinput ::placeholder{
    color: #939393;
}
.eye{
    position: absolute;
    right: 66px;
}
#hide2{
    display: none;
}
.remember{
    display: flex;
    width: 362px;
    height: 20px;
    padding: 0px 50px 0px 50px;
    justify-content: space-between;
}
/*Validation style*/
.validationemail{
    width: 362px;
    display: flex;
    justify-content: center;
    font-family: 'Exo';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    margin-left: 50px;
    background-color: rgba(226, 2, 2, 0.4);
    margin-bottom: 5px;
    border-radius: 12px; 
}


/*checkbox*/
.checkbox-conteiner{
    display: flex;
}
.checkbox-conteiner label{
    display: flex;
    color: #FFFFFF;
    font-family: 'Exo';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}
.checkbox-conteiner input[type='checkbox']{
    opacity: 0;
    position:absolute;
}

.checkbox-conteiner label::before{
    content: '';
    width: 20px;
    height: 20px;
    border: 1.5px solid #FFFFFF;
    border-radius: 4px;
    margin-right: 19px;
    background: transparent;
}

.checkbox-conteiner input[type='checkbox']:checked + label::before{
    content: '\002714';
    color: #FFFFFF;
    border-color: #36B972;
    background-color: #36B972;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-self: center;
}

a.forgotpassword , a.now{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #5FE19B;
}
a.forgotpassword{
    display: flex;
    align-items: center;
    text-align: right;
}

input[type=submit]{
    display: flex;
    justify-content: center;
    margin: 24px 50px 32px 50px ;
    width: 362px;
    height: 47px;
    padding: 0px;
    background: #4cc986;
    border-radius: 6px;
    color: #FFFFFF;
    font-family: 'Exo';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
}
.txt3{
    margin: 0px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}
.txt3 a{
    padding-left: 5.18px;
}
.or{
    display: flex;
    justify-content: center;
    align-items: center;
}
.txt4{
    display: flex;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 0px 25px 0px 25px;
}
.loginoptions{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input[type=button]{
    width: 362px;
    height: 47px;
    margin: 12px 50px 12px 50px;
    box-sizing: border-box;
    font-family: 'Exo';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 6px;
}
/*Social Media option for login*/
.loginoptions{
    display: flex;
}
.socialfacebook, .socialtwitter, .socialgoogle{
    width: 362px;
    height: 47px;
    display:flex;
    align-items: center;
    border: 2px solid #FFFFFF;
    border-radius: 6px;
    background: transparent;
    font-family: 'Exo';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
    margin-bottom: 16px;
}
.fb{
    padding: 0px 14px 0px 61px;
}
.tw{
    padding: 0px 23px 0px 61px;
}
.google{
    padding: 0px 23px 0px 61px;
}
