body{
    background: url(./img/BG.png);
    position: absolute;
    width: 1494px;
    height: 1062px;
    left: 0px;
    top: 0px;
}
.bs-icon{
    position: absolute;
    width: 322px;
    height: 66px;
    left: 39px;
    top: 30px;
}
.bs-icon svg{
    position: absolute;
    left: 4.42%;
    right: 4.42%;
    top: 21.62%;
    bottom: 21.62%;
}

.login_conteiner{
    background: rgba(0, 0, 0, 0.75);
    border-radius: 12px;
    position: absolute;
    width: 462px;
    height: 702px;
    left: 932px;
    top: 178px;
    display: flex;  
    flex-direction: column;
    font-family: 'Exo';
    font-style: normal;
}
.txt1{
    display: flex;
    margin: 40px 50px 8px 50px;  
    width: 362px;
    height: 27px;
    justify-content: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
}
.txt2{
    display: flex;
    margin: 0px 50px 32px 50px;
    justify-content: center;
    width: 362px;
    height: 28px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}
.email, .password{
    display: flex;
    font-family: 'Exo';
    font-style: normal;
    font-size: 15px;
    font-weight: 400;
    border-radius: 4px;
}
.email{
    margin: 0px 50px 16px 50px;
    width: 362px;
    height: 47px;
    padding: 0px;
}
.email::placeholder{
padding: 10.58px 16px 10.57px 16px;
}
.password{
    margin: 0px 50px 16px 50px;
    width: 362px;
    height: 47px;
    padding: 0px;
}
.password::placeholder{
    padding: 10.58px 40px 10.57px 16px;
}
.remember{
    display: flex;
    width: 362px;
    height: 20px;
    padding: 0px 50px 0px 50px;
    justify-content: space-between;
}
.checkbox{
    display: inline-flex;
    align-items: center; 
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px; 
}

.checkbox__input{
    display: none;
}

.checkbox__box{
    margin-right: 19px;
    width: 20px;
    height: 20px;
    border: 1.5px solid #FFFFFF;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
}
.checkbox__box::after{
    content: '\2714';
    color: transparent;
}
.checkbox__input:checked + .checkbox__box {
    color: #FFFFFF;
    border-color: #36B972;
    background: #36B972;
    border-radius: 4px;
}

a.forgotpassword , a.now{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #5FE19B;
}
a.forgotpassword{
    display: flex;
    align-items: center;
    text-align: right;
}

input[type=submit]{
    display: flex;
    justify-content: center;
    margin: 24px 50px 32px 50px ;
    width: 362px;
    height: 47px;
    padding: 0px;
    background: #4cc986;
    border-radius: 6px;
    color: #FFFFFF;
    font-family: 'Exo';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
}
.txt3{
    margin: 0px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}
.txt3 a{
    padding-left: 5.18px;
}
.or{
    display: flex;
    justify-content: center;
    align-items: center;
}
.txt4{
    display: flex;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 0px 25px 0px 25px;
}
.loginoptions{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input[type=button]{
    width: 362px;
    height: 47px;
    margin: 12px 50px 12px 50px;
    box-sizing: border-box;
    font-family: 'Exo';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 6px;
}
.loginoptions{
    display: flex;
}
.socialfacebook, .socialtwitter, .socialgoogle{
    width: 362px;
    height: 47px;
    display:flex;
    align-items: center;
    border: 2px solid #FFFFFF;
    border-radius: 6px;
    background: transparent;
    font-family: 'Exo';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
}
.fb{
    padding: 0px 14px 0px 61px;
}
.tw{
    padding: 0px 23px 0px 61px;
}
.google{
    padding: 0px 11px 0px 61px;
}